@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: font1;
  src: url('../public/fonts/Lausanne-300.woff2');
}
@font-face{
  font-family: font2;
  src: url('../public/fonts/Lausanne-500.woff2');
}


:root {
  background-color: black;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}
